{{ define "main" }}
<section class="text-gray-600 body-font relative mx-auto max-w-screen-xl px-4 pb-8 sm:pb-12 sm:px-6 lg:pb-16 lg:px-8 ">
    <div class="flex sm:flex-nowrap flex-wrap mb-8">
      <div class="lg:w-2/3 md:w-1/2 bg-gray-200 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <div>
          <div id="loadingIndicator" class="absolute inset-0 flex items-center justify-center bg-white opacity-75">
            <p>Loading map...</p>
          </div>       
          <iframe class="absolute inset-0 grayscale-0 opacity-100" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d408.0316221827887!2d15.976189358966554!3d45.81365157522736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d7433d3f99dd%3A0x2ef7bf07f917f496!2sVenus%20hot%20yoga!5e1!3m2!1shr!2shr!4v1694898746823!5m2!1shr!2shr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md hidden ">
          <div class="lg:w-1/2 px-6">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">{{ T "contact_address" }}</h2>
            <p class="mt-1">{{ site.Data.links.adresa }} 
              <br>{{ T "contact_location" }}
            </p>
          </div>
          <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">{{ T "contact_email" }}</h2>
            <a href="mailto:{{ site.Data.links.mail }}" class="text-indigo-500 leading-relaxed">{{ site.Data.links.mail }}</a>
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">{{ T "contact_phone" }}</h2>
            <a class="leading-relaxed" href="tel:{{ site.Data.links.tel }}">{{ site.Data.links.tel }}</a>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
        <form name="contact" id="contact" data-netlify="true" netlify-honeypot="bot-field">
          <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
            {{ T "contact"}}
          </h2>
          <p class="leading-relaxed mb-5 text-gray-600">{{ T "contact_question"}}</p>
          <p class="leading-relaxed mb-5 text-gray-600">{{ T "contact_information"}}</p>
          <div class="relative mb-4">
            <label for="name" class="leading-7 text-sm text-gray-600">{{ T "contact_name"}}</label>
            <input type="text" id="name" name="name" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">{{ T "contact_email"}}</label>
            <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="message" class="leading-7 text-sm text-gray-600">{{ T "contact_message"}}</label>
            <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
          <button type="submit" class="text-white bg-ecru border-0 py-2 px-6 focus:outline-none hover:bg-khaki rounded text-lg">{{ T "contact_enquiry" }}</button>
        </form>
        <div id="send" style="display: none;">
          done
        </div>
      </div>
    </div>
    <div class="bg-white relative flex flex-wrap py-6 ">
        <div class="lg:w-1/2 px-6">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">{{ T "contact_address" }}</h2>
          <p class="mt-1">{{ site.Data.links.adresa }} 
            <br>{{ T "contact_location" }}
          </p>
        </div>
        <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">{{ T "contact_email" }}</h2>
          <a href="mailto:{{ site.Data.links.mail }}" class="text-indigo-500 leading-relaxed">{{ site.Data.links.mail }}</a>
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">{{ T "contact_phone" }}</h2>
          <a class="leading-relaxed" href="tel:{{ site.Data.links.tel }}">{{ site.Data.links.tel }}</a>
        </div>
      </div>
  <article class="prose max-w-none prose-td:inline-block md:prose-td:table-cell prose-h2:text-camel prose-h3:font-bold prose-img:h-96 prose-img:w-full prose-img:object-cover prose-td:{utility} text-xl">
    {{ .Content }}
  </article>
</section>
{{ end }}