{{ define "main" }}
<main class="max-w-6xl px-5 py-5 mx-auto my-8 font-nunito">
  <div class="mw-auto  text-center border-b-4 border-yellow-300 mb-4">
    <h2 class="text-3xl font-bold sm:text-4xl ">{{ .Title }}</h2>
  </div>
  <div class="mb-8">
    <h2 class="max-w-none text-2xl leading-8 font-light">{{ .Params.description }}</h2>
  </div>
  <div class="space-y-4">
    {{ range $index, $faq := .Params.faq }}
      <details class="group" {{ if eq $index 0 }}open{{ end }}>
        <summary class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900">
          <h2 class="font-medium">
            {{ $faq.question }}
          </h2>
          <svg class="h-5 w-5 shrink-0 transition duration-300 {{ if ne $index 0 }}group-open:-rotate-180{{ end }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </summary>
        <div class="mt-4 px-4 leading-relaxed text-gray-700 list-disc list-inside">
          {{ $faq.answer | markdownify  }}
        </div>
      </details>
    {{ end }}
  </div>
</main>
{{ end }}