{{ define "main" }}
<main class="mx-auto max-w-screen-xl px-4 pb-8 sm:py-8 sm:px-6 lg:pb-8 lg:px-8 ">
  <section class="py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8" id="hot-yoga">
    <div class="mw-auto text-center border-b-4 border-buff mb-4">
      <h2 class="text-3xl font-bold sm:text-4xl text-camel">Hot Yoga</h2>
    </div>
    {{ $hotyoga := .Params.hotyoga }}
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/2 lg:border-r-2 lg:border-buff mb-4">
        {{ with resources.Get "/images/plato_1_b_ISPRVAK_Facebook.jpg" }}
        {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
        <picture>
          <source srcset="{{ .RelPermalink }}" type="image/webp">
          <img alt="Lava" src="{{ .RelPermalink }}" loading="lazy" decoding="async" class=""/>
        </picture>
        {{ end }}
      {{ end }}
      </div>
      <div class="w-full md:w-1/2">
        <table class="min-w-full bg-white">
          <caption class="py-3 px-4 font-bold">{{ T "training" }}</caption>
          <tbody>
            {{ range $i, $p := (index $hotyoga 0).prices }}
            <tr class="{{ if not (modBool $i 2) }}bg-white text-left{{ else }}bg-cosmic-latte text-left{{ end }} font-bold">
              <td class="py-3 px-4">{{ $p.service }}</td>
              <td class="py-3 px-4 text-amber-500 whitespace-nowrap">{{ $p.price }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8" id="rejuvenation">
      <div class="mw-auto text-center border-b-4 border-buff mb-4">
        <h2 class="text-3xl font-bold sm:text-4xl text-camel">{{ T "rejuvenation" }}</h2>
      </div>
      {{ $rejuvenation := .Params.rejuvenation }}
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 lg:border-r-2 lg:border-buff mb-4">
          <table class="min-w-full bg-white">
            <caption class="py-3 px-4 font-bold">LPG Celu M6 Integral 2S</caption>
            <tbody class="">
              <tr class="font-medium">
               <td colspan="2">{{(index $rejuvenation 0).category}}</td> 
              </tr>
              {{ range $i, $p := (index $rejuvenation 0).prices }}
              <tr class="{{ if not (modBool $i 2) }}bg-white text-left{{ else }}bg-cosmic-latte text-left{{ end }} font-bold">
                <td class="py-3 px-4">{{ $p.service }}</td>
                <td class="py-3 px-4 text-amber-500 whitespace-nowrap">{{ $p.price }}</td>
              </tr>
              {{ end }}
              <tr class="font-medium">
                <td colspan="2">{{(index $rejuvenation 1).category}}</td> 
              </tr>
              {{ range $i, $p := (index $rejuvenation 1).prices }}
              <tr class="{{ if not (modBool $i 2) }}bg-white text-left{{ else }}bg-cosmic-latte text-left{{ end }} font-bold">
                <td class="py-3 px-4">{{ $p.service }}</td>
                <td class="py-3 px-4 text-amber-500 whitespace-nowrap">{{ $p.price }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
        <div class="w-full md:w-1/2">
          <table class="min-w-full bg-white">
            <caption class="py-3 px-4 font-bold">Ručne Masaže</caption>
            <tbody>
              {{ range $i, $p := (index $rejuvenation 2).prices }}
              <tr class="{{ if not (modBool $i 2) }}bg-white text-left{{ else }}bg-cosmic-latte text-left{{ end }} font-bold">
                <td class="py-3 px-4 ">{{ $p.service }}</td>
                <td class="py-3 px-4 text-amber-500 whitespace-nowrap">{{ $p.price }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
  </section>
  {{ partial "sections/testimonials.html" . -}}
</main>

{{ $scripts := resources.Get "scripts/slider.ts" }}
{{ $options := dict "minify" true }}
{{ $js := $scripts | js.Build $options }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" ></script>
{{ end }}