[build]
  publish = "public"
  command = "hugo --gc --minify -d public;"

[[plugins]]
  package = "netlify-plugin-cloudinary"
  [plugins.inputs]
    cloudName = "daiuuqu0m"

[context.production.environment]
  HUGO_VERSION = "0.152.2"
  NODE_VERSION = "24.11.1"

[context.branch-deploy]
  command = "hugo --minify --gc -d public -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.152.2"
  NODE_VERSION = "24.11.1"

[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.152.2"
  NODE_VERSION = "24.11.1"