<!DOCTYPE HTML>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body class="font-nunito">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ $scripts := resources.Get "scripts/main.ts" }}
    {{ $options := dict "minify" true }}
    {{ $js := $scripts | js.Build $options }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>