{{ define "main" }}
<div class="flex flex-col h-screen bg-white">
    <img src="https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" alt="" class="object-cover w-full h-64"/>
    <div class="container px-5 mx-auto flex flex-col">
        <ul class="flex border-b border-gray-200 text-center list-none">
            <li class="flex-1">
              <a class="relative block border-t border-l border-r border-gray-200 bg-white p-4 text-sm font-medium" href="">
                <span class="absolute inset-x-0 -bottom-px h-px w-full bg-white"></span>
                Settings
              </a>
            </li>   
            <li class="flex-1 pl-px">
              <a class="block bg-gray-100 p-4 text-sm font-medium text-gray-500 ring-1 ring-inset ring-white" href="">
                Messages
              </a>
            </li>
        </ul>
    </div>
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
    <!-- Ranges through content/posts/*.md -->
    {{ range .Data.Pages }}
        <article class="post-snippet">
            <h3>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .Date.Format "January 2, 2006" }}
                </time>
        </article>
    {{ end }}
</div>
{{ end }}