{{ define "main" }}
<main>
  <section class="mx-auto max-w-screen-xl px-4 pb-8 sm:pb-12 sm:px-6 lg:pb-16 lg:px-8">
    <div class="relative block group mb-4">
      {{ with resources.Get .Params.image }}
        {{ if $image := .Resize (printf "%dx%d webp" .Width .Height) }}
          <picture class="relative overflow-hidden">
            <source srcset="{{ $image.RelPermalink }}" type="image/webp">
            <img alt="ebook" src="{{ $image.RelPermalink }}" class="w-full h-auto lg:h-auto max-w-full aspect-[21/9]"/>
          </picture>
        {{ end }}
      {{ end }}
    </div>
    <article class="prose prose-img:my-full max-w-none prose-ul:list-image-lotus prose-h2:text-camel prose-h2:uppercase prose-h3:font-bold prose-img:h-96 !prose-img:m-0 prose-img:w-full prose-img:object-contain prose-td:{utility} prose-ol:px-9 text-xl">
      {{ .Content }}
    </article>
  <div class="mx-auto max-w-6xl mt-8 px-4 py-3 sm:flex sm:items-center sm:justify-center sm:px-6 bg-cosmic-latte rounded-lg border-2 border-buff">
    {{ if eq .File.BaseFileName "rejuvenation" }}
      {{ with site.GetPage "pricing" }}
        <p class="text-center font-medium sm:text-left">
          {{ T "see_the_prices" }}
        </p>
        <a class="ml-3 mt-4 block rounded-lg bg-ecru px-5 py-3 text-center text-sm font-medium text-white transition hover:bg-khaki focus:outline-none focus:ring sm:mt-0" href="{{ .Permalink }}#rejuvenation">View Prices</a>
      {{ end }}
    {{ else if eq .File.BaseFileName "hot-yoga"}}
      {{ with .Site.GetPage "pricing" }}
      <p class="text-center font-medium sm:text-left">
        {{ T "see_the_prices" }}
      </p>
      <a class="ml-3 mt-4 block rounded-lg bg-ecru px-5 py-3 text-center text-sm font-medium text-white transition hover:bg-khaki focus:outline-none focus:ring sm:mt-0" href="{{ .Permalink }}">View Prices</a>
      {{ end }}
    {{ else }}
    {{ with .Site.GetPage "faq" }}
      <p class="text-center font-medium sm:text-left">
        {{ T "questions" }}
      </p>
      <a class="ml-3 mt-4 block rounded-lg bg-ecru px-5 py-3 text-center text-sm font-medium text-white transition hover:bg-khaki focus:outline-none focus:ring sm:mt-0" href="{{ .Permalink }}">FAQ</a>
    {{ end }}
    {{ end }}
  </div>
  </section>
</main>
{{ end }}