{{ define "main" }}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-6 py-10 mx-auto">
      <div class="inline-flex search js-only">
        <input type="text" id="search" name="search" placeholder="Pretraži postove..." class="ml-3 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      {{ range (first 1 .Data.Pages).ByDate}}
      <div id="newest-posts">
        <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
          {{ $image := .Page.Resources.GetMatch .Params.image }}
          <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl h-72 lg:h-96" src="{{ $image.RelPermalink }}" width="" height="">
          <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
              <p class="text-sm text-blue-500 uppercase">{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}</p>
              <a href="{{ .RelPermalink }}" class="block mt-4 text-2xl font-semibold text-gray-800 hover:underline md:text-3xl">
                {{ .Title }}
              </a>
              <p class="mt-3 text-sm text-gray-500 md:text-sm">
                {{ .Summary }}
              </p>
              <a href="{{ .RelPermalink }}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Pročitaj više...
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
              <div class="flex items-center mt-4">
                  <div class="">
                      <h1 class="text-sm text-gray-700">{{ .Params.author }}</h1>
                      <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                        <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                          <circle cx="12" cy="12" r="3"></circle>
                        </svg>{{ .ReadingTime }} minute čitanja.
                      </span>
                      <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                        {{ .Date.Format "January 2, 2006" }}
                      </span>
                  </div>
              </div>
          </div>
        </div>
      </div>
      {{ end }}
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-14 mx-auto">
    <div class="flex flex-wrap -m-4" id="artlist">
      {{ $number := 0 -}}
      {{ range .Data.Pages }}
      {{- $number = add $number 1 -}}
      <div id="post" class="p-4 md:w-1/3" data-tags="{{.Params.Tags}}" {{ if gt $number .Site.Params.indexarticles }}class=""{{ end }}>
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          {{ $image := .Page.Resources.GetMatch .Params.image }}
          <a href="{{ .RelPermalink }}"><img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ $image.RelPermalink }}"></a>
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ .Params.tags }}</h2>
            <a href="{{ .RelPermalink }}"><h1 class="title-font text-lg hover:underline font-medium text-gray-900 mb-3">{{ .Title }}</h1></a>
            <p class="leading-relaxed mb-3">{{ .Summary }}</p>
            <div class="flex items-center flex-wrap ">
              <a href="{{ .RelPermalink }}" class="text-indigo-500 hover:underline inline-flex items-center md:mb-2 lg:mb-0">Pročitaj više...
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
              <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg>{{ .ReadingTime }} minute čitanja.
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                {{ .Date.Format "02. 01. 2006." }}
              </span>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}