<section class="overflow-x-auto" id="schedule">
  <span class="relative flex justify-center">
    <div class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"></div>
    <span class="relative bg-white px-6">{{ T "schedule" }}</span>
  </span>
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm hidden md:table">
    <thead class="ltr:text-left rtl:text-right">
      <tr class="whitespace-nowrap px-4 py-2 text-center text-gray-900">
        <th>{{ T "time" }}</th>
        <th>{{ T "monday" }}</th>
        <th>{{ T "tuesday" }}</th>
        <th>{{ T "wednesday" }}</th>
        <th>{{ T "thursday" }}</th>
        <th>{{ T "friday" }}</th>
        <th>{{ T "saturday" }}</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      {{ $schedule := .Page.Params.schedule }}
      {{ $uniqueTimes := slice }}
      {{ range $day := $schedule }}
        {{ range $appointment := $day.appointments }}
          {{ $uniqueTimes = union $uniqueTimes (slice $appointment.startTime) }}
        {{ end }}
      {{ end }}
      {{ $uniqueTimes := sort $uniqueTimes }}
      {{ range $i, $time := $uniqueTimes }}
      <tr class="{{ if not (modBool $i 2) }}bg-white text-left{{ else }}bg-gray-100 text-left{{ end }} font-bold">
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">
          {{ $time }}
        </td>
        {{ range $dayName := slice "Ponedeljak" "Utorak" "Srijeda" "Četvrtak" "Petak" "Subota" }}
          <td class="whitespace-nowrap px-4 py-2 text-center">
            {{ with index (where $schedule "day" $dayName) 0 }}
              {{ with index (where .appointments "startTime" $time) 0 }}
              <div class="bg-tuscan">
                {{ .service }}<br>
                <span class="text-xs">{{ .startTime }} - {{ .endTime }}</span><br>
                <span class="capitalize text-xs">{{ .description }}</span>
              </div>
              {{ else }}
                <!-- No appointment at this time -->
              {{ end }}
            {{ else }}
              <!-- No appointments for this day -->
            {{ end }}
          </td>
        {{ end }}
      </tr>
    {{ end }}
    </tbody>
  </table>
  <table class="bg-tuscan text-sm border-separate border-spacing-y-2 px-3 lg:hidden">
    <tbody class="divide-y divide-gray-200">
      {{ range .Page.Params.schedule }}
      <tr class="text-gray-900 font-bold text-sm">
        <td colspan="2" class="whitespace-nowrap px-3 font-bold">
          {{ .day }}
        </td>
      </tr>
      {{ range .appointments }}
      <tr class="text-gray-900 font-bold bg-white my-4">
        <td class="p-2">
          <span class="font-bold">{{ .service }}</span><br>
          <span class="capitalize text-xs">{{ .description }}</span>
        </td>
        <td class="text-center align-middle">
          <span class="p-2 font-bold bg-hazelnut  text-white">{{ .startTime}}</span><span class="bg-buff p-2 font-bold text-white">{{ .endTime }}</span>
          </td>
        </tr>
        {{ end }}
      {{end}}
    </tbody>
  </table>
</section>