{{ $css := resources.Get "css/main.css" }}
{{ $style := $css | resources.PostCSS }}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.Params.Description }}" />
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" sizes="192x192" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    {{ if isset .Params "tags" }}
    <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ template "_internal/opengraph.html" . }}
</head>