<header class="sticky top-0 z-10 backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200">
    <div class="container px-5 py-5 flex items-center space-y-0 mx-auto">
      <div class="flex-grow flex justify-start">
        <a href="{{ .Site.BaseURL | relLangURL }}" class="flex items-center text-gray-800 mr-4">
          Venus Hot Yoga
        </a>
        <div class="justify-center hidden sm:flex">
        {{ if .PrevInSection }}
          <p id="breadcrumbs" class="flex items-center">&rarr;
              <span class="ml-1.5" aria-current="page">{{ .Title }}</span>
          </p>
        {{ end }}
        </div>
      </div>
      <div class="hidden sm:flex items-center justify-center space-x-6 text-base font-medium">
      {{ range .Site.Menus.main }}
        <a class="text-gray-700 hover:text-krem {{ if or ($.IsMenuCurrent "main" . ) ($.HasMenuCurrent "main" .)}}active{{ end }}" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}</a>
      {{ end }}
      </div>
      <div class="relative block sm:hidden">
        <button type="button" class="flex items-center justify-center w-8 h-8 focus:outline-none focus:ring rounded text-gray-800" onclick="changeDisplay()">
          <span id="notopen" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
          </span>
          <span id="open" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </span>
        </button>

        <div id="mobile-menu" hidden class="origin-top-right absolute right-0 mt-2 p-2 w-64 bg-white rounded-md shadow-floating z-30 text-center transition ease-out duration-100">
          <a class="block py-2 text-gray-800 active:text-gray-600 active:bg-gray-100 rounded" href="/for-teams/">Teams</a>
          <a class="block py-2 text-gray-800 active:text-gray-600 active:bg-gray-100 rounded" href="/stripe/">Payments</a>
          <a class="block py-2 text-gray-800 active:text-gray-600 active:bg-gray-100 rounded" href="/articles/">Articles</a>
          <a class="block py-2 text-gray-800 active:text-gray-600 active:bg-gray-100 rounded" href="/pricing/">Pricing</a>
          <a class="block py-2 text-gray-800 active:text-gray-600 active:bg-gray-100 rounded" href="/login">Sign In</a>
        </div>
      </div>
    </div>
</header>