{{ define "main" }}
{{ with .Site.GetPage "page" "book.md" }}
{{ if not .Params.draft }}
  {{ partial "sections/popup.html" . }}
{{ end }}
{{ end }}
<main class="">
  <section class="overflow-hidden ">
    <div class="bg-black/25 h-64 sm:h-80 lg:h-full py-14 md:p-12 sm:py-32 lg:py-72 mx-auto max-w-screen-xl px-4 pb-8 sm:pb-12 sm:px-6 lg:pb-16 lg:px-8 bg-[url('/images/homepage.webp')] bg-cover bg-[center] bg-no-repeat">
      <div class="hidden lg:block text-center ltr:sm:text-left rtl:sm:text-right">
        <p class="hidden text-white/90 md:mt-6 md:block md:text-3xl md:leading-relaxed">
          {{/*  {{ T "home_hero_title" }}  */}}
        </p>
        <div class="mt-4 sm:mt-8">
          {{ with .Site.GetPage "contact" }}
          <a href="{{ .RelPermalink }}" class="uppercase inline-block rounded-full bg-ecru px-4 py-3 lg:px-12 lg:py-3 text-sm font-medium text-white transition hover:bg-khaki focus:outline-none focus:ring focus:ring-yellow-400">
            {{ T "contact"}}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="block lg:hidden text-center ltr:sm:text-left rtl:sm:text-right">
      <p class="hidden text-white/90 md:mt-6 md:block md:text-3xl md:leading-relaxed">
        {{/*  {{ T "home_hero_title" }}  */}}
      </p>
      <div class="mt-4 sm:mt-8">
        {{ with .Site.GetPage "contact" }}
        <a href="{{ .RelPermalink }}" class="uppercase inline-block rounded-full bg-ecru px-4 py-3 lg:px-12 lg:py-3 text-sm font-medium text-white transition hover:bg-khaki focus:outline-none focus:ring focus:ring-yellow-400">
          {{ T "contact"}}
        </a>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="text-white text-xl">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
      <div class="mx-auto text-center text-black">
          <span class="relative flex justify-center">
            <div class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"></div>
            <span class="relative bg-white px-6">{{ T "home_hero_title" }}</span>
          </span>
      </div>
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        {{ with .Site.GetPage "about" }}
        <a class="bg-french-beige block rounded-xl p-5 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10" href="{{ .Permalink }}">
          <h2 class="text-xl font-bold">{{ T "about"}}</h2>
          <p class="mt-1 text-base">
            {{ T "about_us_text"}}
          </p>
        </a>
        {{ end }}
        {{ with .Site.GetPage "hot-yoga" }}
        <a class="bg-hazelnut block rounded-xl p-5 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10 relative" href="{{ .Permalink }}#schedule">
          {{ with resources.Get "/images/svg/om-svgrepo-com.svg" }}
          <div class="absolute inset-0 bg-fill bg-no-repeat bg-center" style="background-image: url('{{ .RelPermalink }}');"></div>
          {{ end }}
          <div class="relative z-10">
              <h2 class="text-xl font-bold">{{ T "schedule"}}</h2>
              <p class="mt-1 text-base">
                {{ T "schedule_text"}}
              </p>
              <br>
              <p class="p-2 border-spacing-1 rounded bg-cosmic-latte  text-black border-solid border-2 border-yellow-100">
                <b>{{ T "enroll_text"}}</b>
                <br>
                {{ T "schedule_text"}}
              </p>
          </div>
        </a>
        {{ end }}
        {{ with .Site.GetPage "pricing" }}
        <a class="bg-tuscan block rounded-xl p-5 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10" href="{{ .Permalink }}">
          <h2 class="text-xl font-bold">{{ T "prices"}}</h2>
          <p class="mt-1 text-base">
            {{ T "offer_see"}}
          </p>
          <br>
          <p class="p-2 border-spacing-1 rounded bg-cosmic-latte  text-black border-solid border-2 border-yellow-100">
            {{ T "offer_text"}}
          </p>
        </a>
        {{ end }}
      </div>
    </div>
  </section>
  {{/* partial "sections/how_to.html" . */}}
  <section class="text-black text-xl relative">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
      <div class="mx-auto max-w-screen-xl my-4 sm:py-12 lg:py-4">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
          <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full">
            {{ with resources.Get "/images/dvorana.jpg" }}
                <picture>
                  <source srcset="{{ .RelPermalink }}" type="image/webp">
                  <img alt="Lava" src="{{ .RelPermalink }}" loading="lazy" decoding="async" class="absolute inset-0 h-full w-full object-cover"/>
                </picture>
            {{ end }}
          </div>
          <div class="lg:py-16 relative">
            <article class="space-y-4">
              <div class="max-w-3xl">
                <label class="uppercase font-bold text-sm text-ecru">Focused on you</label>
                <h2 class="text-3xl font-bold sm:text-4xl text-camel">
                  {{ T "hot_yoga"}}  
                </h2>
              </div>
              <p class="mt-4 text-gray-600 font-bold">
                {{ T "hot_yoga_text"}}   
              </p>
              {{ with .Site.GetPage "hot-yoga" }}
              <a href="{{ .RelPermalink }}" class="group bg-tuscan relative mt-8 mr-3 inline-block rounded px-12 py-3 text-sm font-bold border border-tuscan text-white focus:outline-none focus:ring focus:ring-yellow-400">
                <span class="absolute inset-y-0 left-0 w-[2px] rounded bg-hazelnut transition-all group-hover:w-full"></span>
                <span class="relative text-sm font-bold text-white transition-colors group-hover:text-white">
                {{ .Title }}
              </a>
              {{ with .Site.GetPage "pricing" }}
              <a href="{{ .RelPermalink }}#hot-yoga" class="group bg-tuscan relative mt-8 inline-block rounded px-12 py-3 text-sm font-bold border border-tuscan text-white focus:outline-none focus:ring focus:ring-yellow-400">
                <span class="absolute inset-y-0 left-0 w-[2px] rounded bg-hazelnut transition-all group-hover:w-full"></span>
                <span class="relative text-sm font-bold text-white transition-colors group-hover:text-white">
                {{ .Title }}
              </a>
              {{ end }}
              {{ end }}
            </article>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-screen-xl my-8 sm:py-12 lg:py-4">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
          <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
            {{ with $image := resources.Get "/images/slika_stroja.jpg"}}
                <picture>
                  <source srcset="{{ .RelPermalink }}" type="image/webp">
                  <img alt="Lava" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" decoding="async" class="absolute inset-0 h-full w-full object-cover"/>
                </picture>
            {{ end }}
          </div>
          <div class="lg:py-16">
            <label class="uppercase font-bold text-sm text-ecru">For you</label>
            <h2 class="text-3xl font-bold sm:text-4xl text-camel">
              {{ T "rejuvenation"}}
            </h2> 
            <p class="mt-4 text-gray-600 font-bold">
              {{ T "rejuvenation_text"}}            </p> 
            {{ with .Site.GetPage "rejuvenation" }}
            <a href="{{ .RelPermalink }}" class="group bg-tuscan relative mt-8 inline-block rounded px-12 py-3  mr-3  text-sm font-bold border border-tuscan text-white focus:outline-none focus:ring focus:ring-yellow-400">
              <span class="absolute inset-y-0 left-0 w-[2px] rounded bg-hazelnut transition-all group-hover:w-full"></span>
              <span class="relative text-sm font-bold text-white transition-colors group-hover:text-white">
              {{ .Title }}
            </a>
            {{ end }}
            {{ with .Site.GetPage "pricing" }}
            <a href="{{ .RelPermalink }}#rejuvenation" class="group bg-tuscan relative mt-8 inline-block rounded px-12 py-3 text-sm font-bold border border-tuscan text-white focus:outline-none focus:ring focus:ring-yellow-400">
              <span class="absolute inset-y-0 left-0 w-[2px] rounded bg-hazelnut transition-all group-hover:w-full"></span>
              <span class="relative text-sm font-bold text-white transition-colors group-hover:text-white">
              {{ .Title }}
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{/*  {{ partial "sections/blogs.html" . }}  */}}
</main>
{{ end }} 